<a href="https://colab.research.google.com/github/JuAnthony/AceleraDev-DS2020/blob/master/Copia_de_Regresion_Logisticaipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as py 
import seaborn as sb

In [ ]:
%matplotlib inline

In [ ]:
from google.colab import files
files.upload()

Saving Gender Purchase.csv to Gender Purchase.csv

{'Gender Purchase.csv': b'Gender,Purchase\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,No\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,No\r\nMale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,No\r\nFemale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nMale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,No\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,No\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nMale,No\r\nFemale,No\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nFemale,No\r\nMale,No\r\nMale,No\r\nFemale,No\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,No\r\nMale,No\r\nFemale,No\r\nMale,No\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nFemale,No\r\nFemale,No\r\nMale,No\r\nFemale,Yes\r\nMale,Yes\r\nMale,No\r\nMale,Yes\r\nFemale,No\r\nMale,No\r\nMale,No\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,No\r\nFemale,Yes\r\nFemale,No\r\nMale,No\r\nFemale,No\r\nMale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nMale,No\r\nFemale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,No\r\nMale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nFemale,No\r\nMale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\nMale,Yes\r\nMale,Yes\r\nFemale,Yes\r\nMale,No\r\nFemale,Yes\r\nFemale,Yes\r\n'}

In [ ]:
df=pd.read_csv('Gender Purchase.csv')
df

     Gender Purchase
0    Female      Yes
1    Female      Yes
2    Female       No
3      Male       No
4      Male      Yes
..      ...      ...
506    Male      Yes
507  Female      Yes
508    Male       No
509  Female      Yes
510  Female      Yes

[511 rows x 2 columns]

In [ ]:
df.shape

(511, 2)

In [ ]:
contigency_table=pd.crosstab(df['Gender'],df['Purchase'])
contigency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [ ]:
contigency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [ ]:
contigency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [ ]:
contigency_table.astype("float").div(contigency_table.sum(axis=1),axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

In [ ]:
from IPython.display import display,Math,Latex

La probabilidad Condicional